:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
  --modal-background: #fcfcfc;
  --modal-overlay: rgba(46, 47, 66, 0.4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  background-color: var(--white);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

input {
  font-family: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}


a {
  text-decoration: none;
}

h2 {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

h3 {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Mobile First */

/* Header */

.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 0;
}

.header-accent {
  color: var(--dark);
}

.header-hamburger {
  background-color: transparent;
  border: none;
  padding: 0;
}

.header-list {
  display: none;
}

.address {
  display: none;
}

/* Hero section */

.hero {
  background-color: var(--dark);
  padding: 72px 0;
  margin: 0 auto;
  color: var(--white);
  max-width: 320px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero/bg_mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 200px;
  margin: 0 auto 72px;
  text-align: center;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
  background-color: var(--pressed-state);
  cursor: pointer;
}

/* Principles section */

.principles-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.principles-item {
  max-width: 100%;
}

.principles-icon {
  display: none;
}

.principles-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.principles-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.principles,
.portfolio,
.team {
  padding: 96px 0;
}

/* Team section */

.team {
  background-color: var(--light);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-member {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.member-info {
  padding: 32px 0;
  text-align: center;
}

.team-subtitle {
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:focus {
  background-color: var(--pressed-state);
}

.team-svg {
  fill: var(--light)
}

/* Portfolio section */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.portfolio-item {
  max-width: 100%;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-hidden {
  height: 100%;
  width: 100%;
  background-color: var(--primary-brand);
  padding: 40px 32px;
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid var(--light);
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 8px
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */

.footer {
  background-color: var(--dark);
  padding: 96px 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 72px;
}

.footer-logo {
  display: inline-block;
  color: var(--primary-brand);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-accent {
  color: var(--light);
}

.footer-text {
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-subtitle {
  color: var(--white);
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-icon {
  height: 40px;
  width: 40px;
}

.footer-link {
  height: 100%;
  width: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:focus {
  background-color: #31d0aa;
}

.footer-svg {
  fill: var(--light);
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-input {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 0 16px;
  color: var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  opacity: 0.3;
}

.footer-input::placeholder {
  color: var(--white);
  opacity: 0.6;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
}

.subscription-icon {
  margin-left: 16px;
  fill: var(--white);
}

/* Form */

.backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-overlay);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background-color: var(--modal-background);
  border-radius: 4px;
  padding: 72px 16px 16px;
  overflow-y: auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.10);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--white);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-paragraph {
  color: var(--dark);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.modal-input {
  border-radius: 4px;
  border: 1px solid var(--modal-overlay);
  padding: 8px 16px 8px 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  outline: 0;
  border-color: var(--primary-brand);
}

.input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.input-icon {
  fill: var(--primary-brand);
}

.textarea-field {
  margin-bottom: 16px;
}

.modal-textarea {
  border-radius: 4px;
  border: 1px solid var(--modal-overlay);
  color: var(--modal-overlay);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  width: 100%;
  min-height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--modal-overlay);
  letter-spacing: 0.04em;
}

.input-wrap {
  position: relative
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox-field {
  display: flex;
  margin-bottom: 24px;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--modal-overlay);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  padding: 4px 3px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-tick {
  opacity: 0;
}

.checkbox-input:checked+.checkbox-label .checkbox-tick {
  opacity: 1;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.checkbox-link {
  width: 16px;
  text-decoration-line: underline;
  color: var(--primary-brand);
}

/* Mobile Menu */

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  padding: 72px 16px 40px;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close:focus {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--white);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-item {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-contact {
  color: var(--text);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-studio,
.mobile-email {
  color: var(--primary-brand);
}

.mobile-icons {
  display: flex;
  gap: 40px;
}

.mobile-icon {
  height: 40px;
  width: 40px;
}

.mobile-link {
  height: 100%;
  width: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-link:focus {
  background-color: #31d0aa;
}

.mobile-svg {
  fill: var(--light);
}

/* Media */

/* Mobile */

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_mob@2x.jpg);
  }
}

/* Tablet */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav {
    gap: 120px;
  }

  .header-logo {
    padding: 24px 0;
  }

  .header-hamburger {
    display: none;
  }

  .header-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
  }

  .header-menu {
    display: inline-block;
    color: var(--dark);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }

  .header-studio {
    position: relative;
    color: var(--pressed-state);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 2px;
  }

  .address {
    display: flex;
    font-style: normal;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-contacts {
    color: var(--text);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-menu:focus,
  .address-contacts:focus {
    color: var(--pressed-state);
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_tab.jpg);
    max-width: 768px;
    padding: 112px 0;
  }

  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .principles-list {
    gap: 72px 24px;
  }

  .principles-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .principles-subtitle {
    text-align: left;
  }

  .team-list {
    gap: 64px 24px;
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-image {
    width: 356px;
    height: 300px;
  }

  .footer-content {
    text-align: left;
    justify-content: flex-start;
    gap: 72px 0;
    margin-left: 92px;
  }

  .footer-info {
    margin-right: 24px;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-form {
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  .footer-button {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }

  .modal-close:hover {
    background-color: var(--pressed-state);
    border: none;
    fill: var(--white);
  }

  .checkbox-label {
    display: inline;
  }

  .mobile-menu {
    display: none;
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_tab@2x.jpg);
  }
}

/* Desktop */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header-nav {
    gap: 76px;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address-contacts {
    font-size: 16px;
  }

  .header-menu:hover,
  .address-contacts:hover {
    color: var(--pressed-state);
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_desk.jpg);
    padding: 188px 0;
    max-width: 1440px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .button:hover {
    background-color: var(--pressed-state);
    cursor: pointer;
  }

  .principles-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .principles-icon {
    border-radius: 4px;
    border: 1px solid var(--subtle-text);
    background: var(--light);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
  }

  .principles-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
  }

  .principles-text {
    font-weight: 400;
  }

  .principles,
  .portfolio,
  .team {
    padding: 120px 0;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item:hover .portfolio-hidden {
    transform: translateY(0%);
  }

  .portfolio-image {
    width: 360px;
  }

  .team-link:hover {
    background-color: var(--pressed-state);
  }

  .footer {
    padding: 100px 0;
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-modal {
    margin-left: 80px;
  }

  .footer-input {
    opacity: 1;
  }

  .footer-input::placeholder {
    opacity: 1;
  }

  .footer-link:hover {
    background-color: #31d0aa;
  }
}

@media (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero/bg_desk@2x.jpg);
  }
}